<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/scss/main.css">
    <title>Griphcode.dev / {{ title }}</title>
</head>
<body>
    <nav id="navigation">
        <li>
        <a class="nav-link" href="/">Griphcode / </a><span class="nav-title">{{ title | slugify }}</span>
        </li>
        <ul>
            <li>
                <a class="nav-link-center" href="">tools</a>
                <a class="nav-link-center" href="">about</a>
                <a class="nav-link-center" href="">rss</a>
            </li>
        </ul>

        <ul>
            <li>
                <a class="nav-link-right" href="https://github.com/GriphcodeDev/Griphcodes-blog" target="_blank"><img src="/assets/icons/github-fill.svg">Github</a>
            </li>
        </ul>
    
    </nav>
</body>