{% include "_includes/head.liquid" %}

   
    <div id="post-main">
    <div class="post-content">
        <h1 class="post-title">{{ title }}</h1>
        <h3 class="post-desc">{{ description }}</h3>
        <h4 class="post-date">{{ date | date: "%Y-%m-%d" }}</h4>
        

        <img width="50" class="oneko-post" src="/assets/img/oneko_sleep.gif" alt="">
        <hr class="post-line">
        
        <div class="post-content-main">{{ content }}</div>
        
    </div>

    </div>
