@use "variables";

#navigation {
    padding: 20px;
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: variables.$Foreground;
    width: 100%;
    top: 0;
    border: solid variables.$BorderColor 1px;
    justify-content: space-between;
    box-sizing: border-box;

    align-items: center;
}


#navigation li {
    display: flex;
    gap: 20px;
}


.nav-link {
    font-family: variables.$TitleFont1;
    font-size: 20px;
}

.nav-link-right {
    padding: 10px;
    font-family: variables.$TitleFont1;
    font-size: 15px; 
    font-weight: bolder;
    
    border: solid 1px variables.$BorderColor;
    border-radius: 12px;
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: green;
}

.nav-link-center {
    font-family: variables.$TitleFont1;
    font-size: 15px;    
}

.nav-title {
    font-family: variables.$TitleFont1;
    font-size: 20px;

    color: variables.$CardTitleColor;
}


#main {
    display: flex;
    padding: 20px;
    margin-top: 100px;
}

.grid {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;

}

.card {
    height: 160px;
    width: 320px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    background-color: variables.$CardBackground;
    border-radius: 10px;
    border: variables.$BorderColor solid 1px;

}

.card-body {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-family: variables.$TitleFont1;
    color: variables.$CardTitleColor;
}

.card-desc {
    font-family: variables.$ParagraphFont;
    color: variables.$CardDescColor;
}

.card-date {
    font-family: variables.$ParagraphFont;
    color: variables.$CardDateColor;
}

.card-link {
    font-family: variables.$TitleFont1;
    color: variables.$LabelColor;
    font-size: 18px;

    transition: color 0.5s;
}

.card-link:hover {
    color: variables.$CardTitleColor;
}

.oneko {
    position: fixed;

    transform: translateX(290px);
}


// Post conntent 

#post-main {
    display: flex;
    padding: 30px;
    margin-top: 100px;
    
    justify-content: center;
    

    

 

}

.post-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 780px;

    align-items: center;
   

}

.post-line {
    width: 100%;
}

.post-content-main {
    color: variables.$TextColor;
    font-family: variables.$TitleFont;
    width: 100%;
    line-height: 1.75;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.post-title {
    font-family: variables.$ParagraphFont;
    color: variables.$TextColor;
}

.post-desc {
    font-family: variables.$ParagraphFont;
    color: variables.$CardDescColor;
}

.post-date {
    font-family: variables.$ParagraphFont;
    color: variables.$CardDateColor;
}