@use "sass:list";

@font-face {
    font-family: DMSerifRegular;
    src: url(/assets/fonts/DMSerifDisplay-Regular.ttf) format("truetype");
}

@font-face {
    font-family: DMSerifItalic;
    src: url(/assets/fonts/DMSerifDisplay-Italic.ttf) format("truetype");
}

@font-face {
    font-family: IBMPlexItalic;
    src: url(/assets/fonts/IBMPlexMono-Italic.ttf) format("truetype");
}

@font-face {
    font-family: IBMPlexMono;
    src: url(/assets/fonts/IBMPlexMono-Regular.ttf) format("truetype");
}

@font-face {
    font-family: IBMPlexLight;
    src: url(/assets/fonts/IBMPlexMono-Light.ttf) format("truetype");
}

@font-face {
    font-family: Inter;
    src: url(/assets/fonts/Inter-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Jetbrains;
    src: url(/assets/fonts/JetBrainsMono-Regular.ttf) format("truetype");
}

$Background: #0d1117;
$Foreground: #1c1b1b;
$TextColor: #fcfbf8;
$LabelColor: #888580;
$BorderColor: #21262d;
$CardBackground: #161b22;
$CardTitleColor: #58a6ff;
$CardDescColor: #656c74;
$CardDateColor: #383e46; 



// Fonts & Text size
$TitleFont: Inter;
$ParagraphFont: Jetbrains;
$TitleFont1: IBMPlexMono;



$Size: ("ExtraSmall": 8px, "Small": 16px, "Medium": 24px, "Large": 32px, "ExtraLarge": 64px)
